.mini-displayer {
    max-width: 45%; 
    background: none;
    background-color: #ffffff;
    border-radius: 7px;
    color: #000;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    .mini-displayer--title {
        padding-left: 1em;
    }
}
 
.mini-displayer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}